:host {
  --button-color: #fff;
  &[data-appearance="flat"] {
    background-color: var(--button-background);
    color: var(--button-color);
  }

  &[data-appearance="basic"],
  &[data-appearance="stroked"] {
    background-color: transparent;
    color: var(--button-background);
    &:hover:before {
      @apply absolute left-0 top-0 w-full h-full opacity-10;
      content: "";
      background-color: var(--button-background);
    }
  }

  &[data-appearance="stroked"] {
    border: 1px solid currentColor;
  }

  &[data-color="primary"] {
    --button-background: var(--primary-color);
  }

  &[data-color="accent"] {
    --button-background: var(--accent-color);
  }

  &[data-color="warn"] {
    --button-background: var(--warn-color);
  }

  &[data-size="small"] {
    @apply px-3 py-1;
  }

  &[data-size="medium"] {
    @apply px-6 py-3 text-lg;
  }

  &[data-size="large"] {
    @apply px-7 py-4 text-xl;
  }

  &[data-full="true"] {
    @apply w-full;
  }

  &[data-rounded="true"] {
    border-radius: 24px;
  }

  &[data-disabled="true"] {
    opacity: 0.5;
    pointer-events: none;
  }
}
