:host {
  --button-color: #fff;
  &[data-appearance="flat"],
  &[data-appearance="fab"] {
    background-color: var(--button-background);
    color: var(--button-color);
  }

  &[data-appearance="basic"],
  &[data-appearance="stroked"],
  &[data-appearance="icon"] ,
  &[data-appearance="icon-stroked"] {
    background-color: transparent;
    color: var(--button-background);
    &:hover:before {
      @apply absolute left-0 top-0 w-full h-full opacity-10;
      content: "";
      background-color: var(--button-background);
    }
  }

  &[data-appearance="stroked"],
  &[data-appearance="icon-stroked"] {
    border: 1px solid currentColor;
  }

  &[data-color="primary"] {
    --button-background: var(--primary-color);
  }

  &[data-color="accent"] {
    --button-background: var(--accent-color);
  }

  &[data-color="warn"] {
    --button-background: var(--warn-color);
  }

  &[data-size="small"] {
    &:not([data-appearance="icon"]), &:not([data-appearance="icon-stroked"]), &:not([data-appearance="fab"]) {
      @apply px-3 py-1 text-sm;
    }
    &[data-appearance="icon"], &[data-appearance="icon-stroked"], &[data-appearance="fab"] {
      @apply p-1;
    }
    &[data-rounded="true"] {
      @apply rounded-lg;
    }
  }

  &[data-size="medium"] {
    &:not([data-appearance="icon"]), &:not([data-appearance="icon-stroked"]), &:not([data-appearance="fab"]) {
      @apply px-6 py-3;
    }
    &[data-appearance="icon"], &[data-appearance="icon-stroked"], &[data-appearance="fab"]  {
      @apply p-3;
    }

    &[data-rounded="true"] {
      @apply rounded-2xl;
    }
  }

  &[data-size="large"] {
    &:not([data-appearance="icon"]), &:not([data-appearance="icon-stroked"]), &:not([data-appearance="fab"]) {
      @apply px-7 py-4 text-xl;
    }
    &[data-appearance="icon"], &[data-appearance="icon-stroked"], &[data-appearance="fab"]  {
      @apply p-4;
    }
    &[data-rounded="true"] {
      @apply rounded-2xl;
    }
  }

  &[data-full="true"] {
    @apply w-full;
  }



  &[data-disabled="true"] {
    opacity: 0.5;
    pointer-events: none;
  }
}
